{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Empleado</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'persona_app:empleados_all' %}">Listar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Departamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Administar</a>
        </li>        
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="buscar Empleado" aria-label="Search">
        <ul><button class="btn btn-outline-success" type="submit">Registrar</button></ul>
       </form> 
    </div>
  </div>
</nav> 

Fin header de booswacth {% endcomment %}

<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Empelados</li>
        <li>
          <a href="{% url 'persona_app:empleados_all' %}">Listar</a>
        </li>
        {% comment %} <li><a href="{% url 'departamento_app:departamento_list' %}">Departamentos</a></li>
        <li><a href="{% url 'persona_app:emplados_admin' %}">Administrar</a></li>
        <li><a href="{% url 'departamento_app:nuevo_departamento' %}">Nuevo Departamento</a></li> {% endcomment %}
        <li><a href="#">Departamentos</a></li>
        <li><a href="#">Administrar</a></li>
        <li><a href="#">Nuevo Departamento</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Buscar empleado"></li>
        {% comment %} <li><a href="{% url 'persona_app:empleado_add' %}" class="button">Registrar Nuevo</a></li> {% endcomment %}
        <li><a href="#" class="button">Registrar Nuevo</a></li>
      </ul>
    </div>
</div>