<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>


<div class="top-bar" id="example-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Empelados</li>
        <li>
          <a href="{% url 'persona_app:empleados_all' %}">Listar</a>
        </li>
        {% comment %} 
        
        <li><a href="{% url 'departamento_app:nuevo_departamento' %}">Nuevo Departamento</a></li> {% endcomment %}        
        <li><a href="{% url 'departamento_app:lista_departamento' %}">Departamentos</a></li>
        <li><a href="{% url 'persona_app:empleados_admin' %}">Administrar</a></li>
        <li><a href="#">Nuevo Departamento</a></li>        
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Buscar empleado"></li>
        {% comment %} <li><a href="{% url 'persona_app:empleado_add' %}" class="button">Registrar Nuevo</a></li> {% endcomment %}
        <li><a href="#" class="button">Registrar Nuevo</a></li>
      </ul>
    </div>
</div>